* {
    box-sizing: border-box;
}

:root {
    --bg: #F2EAE2;
    --text: #6C7289;
    --cost: #3D8168;
    --active-cost: #1A4032; 
}

body {
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

picture img {
    border-radius: 0.6rem 0px 0px 0.6rem;
    height: 654px;
    width: 320px;
}

.info-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2.25rem;
    border-radius: 0 0.6rem 0.6rem 0px;
    width: 320px;
    height: 654px;  
}

.info-card h1 {
    color: var(--text);
    text-transform: uppercase;
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: .5rem;
}

.info-card h2 {
    font-family: Fraunces, serif;
    font-size: 2.5rem;

}

.info-card p {
    color: var(--text);
    line-height: 160%;
    font-size: 1rem;
}

.cost {
    display: flex;
    gap: 1rem;
}

.cost h3 {
    color: var(--cost);
    font-family: Fraunces, serif;
    font-size: 2.5rem;
}

.cost p {
    align-content: center;
    text-decoration: line-through;
}

button {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: .1rem;
    background-color: var(--cost);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

button img {
    margin: 0 .8rem;
    vertical-align: text-top;
    width: 1.05rem;
}

button:hover {
    transform: scale(1.025);
}

button:focus-visible {
    border: 4px dotted white;
}

button:active {
    background-color: var(--active-cost);
}

@media (max-width: 48em) {
    .container {
    flex-direction: column;    
    }
    .info-card {
        border-radius: 0 0 0.6rem 0.6rem;
        box-shadow: 0px -3px white;
    }
    picture img {
        height: 22rem;
        border-radius: 0.6rem 0.6rem 0 0;
    }
}
